.text {
    font-size: 1.4rem;
    margin-left: 5%;
}

.btn-large {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: 1.5rem;
    background-color: $delbutton;
    height: 1.6rem;
    line-height: 5px;
    border-radius: 50%;
}
.btn-large:hover {
        background-color: #bb0d0d;
}
.btn-large:active {
        background-color: #bb0d0d;
        transform:scale(0.95);
}
.checkboxes {
    float:right;
}
ul > li > form > p {
    margin-top: 0px;
}
